
html{
  height: 100%;
  width:100%;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: linear-gradient(to right, #d0f0e0, #a0e0c0);
  margin: 0 !important;
}
div#root{
  margin-top: 8px;
}
button {
  border-radius: 7px;
}

.hidden{ visibility: hidden; }

.game{
  width:740px;
  height:550px;
  margin:auto;
}

.game-board{
  width:430px;
  height:430px;
  display: inline-block;
}

.right-pane{
  width: 300px;
  height: 540px;
  display: inline-block;
  vertical-align: top;
}

.rack {
  width:300px;
  height:110px;
  margin-left:62px;
  background-image: url('./images/rack.png');
  background-repeat:no-repeat;
}

.rack-tiles {
  padding: 10px 14px 10px 10px;
  height: 30px;
  /* border: 2px solid black;
  border-radius: 3px; */
}

.rack div {
  display: inline-block;
}

.rack .tile {
  margin-top: -4px;
  margin-left: 7px;
  border:none;
  line-height: 28px;
  width:28px;
  height:28px;
  font-size: 16px;
  border: 2px solid transparent;
}

.rack .tile.tile-selected{
  border:2px solid red;
}

div.rack-actions {
  padding: 10px 18px 10px 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px #8d78a5;
  border-radius: 15px 15px 15px 15px;
  margin-top: 9px;
}

.rack-actions button {
  margin: 3px 0 0 10px;
}

.tile {
  text-align:center;
  line-height: 20px;
  width:20px;
  height:20px;
  padding:0;
  border:1px solid black;
  background-image:url("./images/tile.png");
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0 0 2px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.tile p {
  margin:0;
}

.board .tile p sub {
  font-size: 9px;
}
.jokerLetter{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-image: url('./images/joker.png');
  margin: 5px;
  line-height: 50px;
  text-align: center;
}


.playersList {
  padding-bottom: 15px;
}

.playersList button{
  border-width: 4px;
}

.playersList input {
  float: left;
  margin-top:10px;
  border-radius: 5px;
}

.playersList div.playerPoints {
  float: right;
  margin-top:10px;
}

.playerSelected {
  border: 2px solid red;
}

.word{
  float:left;
}

.wordPoints{
  float:right;
}

.wordsList {
  margin-top: 10px;
  border: 4px double darkcyan; 
  border-radius: 25px;
  height: 240px;
}

.wordsList ul li{
  list-style-type: circle;
}

.wordTotal {
  margin-left: 130px;
  font-weight: bold;
}

.wordTotalPoints {
  font-weight: bold;
}

.confirmWords {
  margin-top: 10px;
  margin-left:55px
}

fieldset {
  border: 4px double darkcyan;
  border-radius: 25px;
  padding-left: 10px;
  width: 220px;
}

legend {
  font-weight: bold;
  color: darkcyan;
  padding: 0px 5px 0px 5px;
  font-size: 16px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 5px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin-left: 735px;
  padding: 20px;
  border: 1px solid #888;
  width: 280px;
}
